<ul class ="pagination"><%= paginate @doctors %></ul>
<table class="table table-bordered">
 <tr>
   <th> Doctor Name </th>
   <th> Degree </th>
   <th> Address </th>
 </tr>
 <tr>
<% @doctors.each do |d| %>
  <td><%= d.name %></td>
  <td><%= d.degree %></td>
  <td><%= d.address %></td>
</tr>
<% end %>
</table>


<%= paginate @doctors %>

<br><% if current_user.admin? %>
 <%= link_to "Add more doctors", new_doctor_path, :class => "label label-info" %>
<% end %>
