<br><% if current_user.admin? %>
 <b style= "float:right"><%= link_to "New Doctor", new_doctor_path, :class=> "alert alert-info" %> </b><br><br><br>
<% end %>
<ul class ="alert alert-info"><%= paginate @doctors %></ul>
<div class="alert alert-danger">
<table class="table">
 <tr>
   <th> Doctor Name </th>
   <th> Degree </th>
   <th> Address </th>
 </tr>
 <tr>
<% @doctors.each do |d| %>
  <td><%= d.name %></td>
  <td><%= d.degree %></td>
  <td><%= d.address %></td>
</tr>
<% end %>
</table>
</div>

<%= paginate @doctors %>
