<form role="form">
  <div class="form-group">
<%= form_for(@doctor)  do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this tab_user from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Doctor_name %><br>
    <%= f.text_field :name, :value => "Dr.", :class=>"form-control" %>
  </div><br>

  <div class="field">
    <%= f.label :Degree %><br>
    <%= f.text_field :degree, :class=>"form-control"%>
  </div><br>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, :size => "50x6", :class=>"form-control" %>
  </div><br>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo, :id=>"exampleInputFile" %>
  </div><br><br>

  <div class="actions">
    <%= f.submit :class=>"btn btn-default" %>
  </div>
<% end %>
</form>
