<table>
	<thead>
		<tr>
		  <th>TabUser</th>
      <th>Assigned Doctor</th>
      <th>Assigned MedicalShop</th>
      <th>Assigned by Admin</th>
      <th>View appointment</th>
		</tr>
	</thead>

	<tbody>
		<% appointments.each do |appointment| %>
		 <tr>
        <td><%= appointment.tab_user_name %></td>
        <td><%= appointment.doctor_name %></td>
        <td><%= appointment.medical_shop_name %></td>
        <td><%= appointment.admin.name%></td>
        <td><%= link_to "View" , appointment_path(appointment)%></td>
      </tr>
		<% end %>
	</tbody>
</table>
<%= link_to "New Appointment" , new_appointment_path %>
