<b style= "float:right"><%= link_to 'Download spreadsheet as Excel', completed_url(format: :xlsx), :class=> "alert alert-info" %> </b><br><br><br>
<div class="alert alert-success">
<table class="table">
 <tr>
   <th> Doctor Name / Medical shop Name</th>
   <th> Tab User Name </th>
   <th> Status </th>
   <th> In time </th>
   <th> Out time </th>
   <th> Time Taken </th>
 </tr>
<% @completed.each do |c| %>
<tr>
<% if c.doctor %>
 <td><%= link_to c.doctor.name, c %></td>
<% else %>
 <td><%= link_to c.medical_shop.shop_name, c %></td>
<% end %>
 <td><%= c.tab_user.name %></td>
 <td><%= c.status %></td>
<% if c && c.in_time %>
 <td><%= c.in_time.strftime("%H:%M %P") %></td>
 <td><%= c.out_time.strftime("%H:%M %P") %></td>
 <td><%= distance_of_time_in_words(c.in_time, c.out_time) %></td>
<% else %>
 <td> - </td>
 <td> - </td>
 <td> - </td>
<% end %>
</tr>
<% end %>
</table>
