<style>
 #report{padding:30px;}
</style>
<div id ="report">
<h1>survey</h1>
<%= form_for :report , :url => reports_path, :method => :post do |f| %>

  <div class="field">
    <%= f.label :product_shown_to_doctor %><br />

    <%= f.label :product_shown, "Yes", :value => "Yes"  %>
    <%= f.radio_button :product_shown, true %>

    <%= f.label :product_shown, "No", :value => "No" %>
    <%= f.radio_button :product_shown, false, :checked => true %>
  </div>

  <div class="field">
    <%= f.label :sample_given_to_doctor %><br />

    <%= f.label :sample_given, "Yes", :value => "Yes"  %>
    <%= f.radio_button :sample_given, true %>

    <%= f.label :sample_given, "No", :value => "No" %>
    <%= f.radio_button :sample_given, false, :checked => true %>
  </div>
   <b>** if yes then the following text box will appear else will be hidden</b>
  <div class="field">
    <%= f.label :number_of_samples_given_to_doctor %><br />
    <%= f.text_field :product_copy %>
  </div>

  <div class="field">
    <%= f.label :does_doctor_have_stock_of_the_product %><br />

    <%= f.label :doctor_stock, "Yes", :value => "Yes"  %>
    <%= f.radio_button :doctor_have_stock, true %>

    <%= f.label :doctor_stock, "No", :value => "No" %>
    <%= f.radio_button :doctor_have_stock, false, :checked => true %>
  </div>

  <div class="field">
    <%= f.label :does_product_have_any_offer %><br />

    <%= f.label :product_offer, "Yes", :value => "Yes"  %>
    <%= f.radio_button :product_offer, true %>

    <%= f.label :product_offer, "No", :value => "No" %>
    <%= f.radio_button :product_offer, false, :checked => true %>
  </div>
  <b>** if any offer following text box will appear else be hidden( including offer detail) </b>
  <div class="field">
    <%= f.label :offer_name %><br />
    <%= f.text_field :offer_name %>
  </div>

  <div class="field">
    <%= f.label :offer_detail %><br />
    <%= f.text_area :offer_detail, :size => "50x5" %>
  </div>

  <div class="field">
    <%= f.label "doctor's_feedback" %><br />
    <%= f.text_area :doctors_comment, :size => "50x5" %>
  </div>

  <div class="field">
    <%= f.label :upload_clinic_photo %><br />
    <%= f.file_field :photo %>
  </div>

   <div class="field">
    <%= f.submit "Save Survey" %><br />
  </div>

<% end %>
</div>
