<style>
	 #container {height:500px;width:auto;}
	 #left{padding:10px;float:left; width:45%;}
	 #right{padding:10px;float:right; width:45%;}
	 h5{color:green}
</style>

<div id ="container">

<div id ="left">
<div class="alert alert-success"><strong>Doctor's List</strong><br><br>
<table class="table table-condensed">
	<thead>
		<tr>
		  <th>TabUser</th>
      <th>Doctor name</th>
      <th>Appointement Date</th>
		</tr>
	</thead>
	<tbody>
		<% appointments.each do |appointment| %>
		<% if appointment.doctor_id %>
		 <tr>
        <td><%= appointment.tab_user_name %></td>
        <td><%= appointment.doctor_name %></td>
        <td><%= time_tag appointment.created_at %></td>
        <td><%= link_to "View" , appointment_path(appointment) %></td>
      </tr>
		<% end %>
	 <% end %>
	</tbody>
</table>
</div>
</div>

<div id ="right">
<div class="alert alert-danger"><strong>Medical Shop's List</strong><br><br>
<table class="table table-condensed">
	<thead>
		<tr>
		  <th>TabUser</th>
      <th>Shop name</th>
      <th>Appointement Date</th>
		</tr>
	</thead>

	<tbody>
		<% appointments.each do |appointment| %>
		<% if appointment.medical_shop_id %>
		 <tr>
        <td><%= appointment.tab_user_name %></td>
        <td><%= appointment.medical_shop_name %></td>
        <td><%= time_tag appointment.created_at %></td>
        <td><%= link_to "View", appointment_path(appointment)%></td>
      </tr>
		<% end %>
	 <% end %>
	</tbody>
</table>
</div>
</div>
</div>
