<% if current_user.admin? %>
  <b><%= link_to "New Appointment" , new_appointment_path %> |
  <%= link_to "Delete this Appointment" ,appointment_path , method: :delete ,data: {confirm: "Are you sure?"} %></b>
<% end %>
<br><br>
<table class="table table-condensed">
 <tr>
  <td> <b>Tab User :</b> </td>
  <td> <%= @appointment.try(:tab_user_name) %></td>
  </tr>

  <tr>
  <% if @appointment.doctor_name.present? %>
  <td><b> Doctor to Visit: </b></td>
  <td> <%= @appointment.try(:doctor_name) %></td>
  </tr>
  <tr>
  <td><b> Clinic Address: </b></td>
  <td> <%= @appointment.try(:doctor_address) %></td>
  </tr>

  <% end %>

  <tr>
  <% if @appointment.medical_shop.present? %>
	<td>Medical Shop Name:</td>
  <td><%= @appointment.try(:medical_shop_name) %></td>
  </tr>

  <tr>
	<td>Medical Shop Address:</td>
  <td><%= @appointment.try(:medical_shop_address) %></td>
	</tr>
  <% end %>

  <tr>
	<td><b>Status:</b></td>
  <td style="color:green"><%= @appointment.status %></td>
	</tr>

 </table><br>

<% if @appointment.status == 'Pending' %>
<div id="survey_report_form" style = "display:none">
<%= render "survey_report" %>
</div>

<% else %>
<h4>Clinic Image: </h4> <%= image_tag @appointment.report.photo(:thumb) %><br><br><br>
<table class="table table-condensed">
 <tr>
   <th>Product Shown </th>
   <th>Sample Given </th>
   <th>Copies Given</th>
   <th>Stock Already </th>
   <th>comment</th>
 </tr>
 <tr>
	 <% if  @appointment.report.product_shown == true %>
	 <td> Yes </td><% else %><td> NO </td><% end %>
	 <% if  @appointment.report.sample_given == true %>
	 <td>Yes</td><% else %><td>NO</td><% end %>
	 <% if @appointment.report.sample_given %>
	 <td><%= @appointment.report.product_copy %></td>
	 <% end %>
	 <td><%= @appointment.report.doctor_have_stock %></td>
	 <td width="30%"><%= @appointment.report.doctors_comment %></td>
 </tr>
<% end %>
</table>
<br><br>
<% unless current_user.admin? %>
 <%= link_to "Start Survey" , "javascript:void(0)" , id: "start_survey_button" , :appointment_id => @appointment %>
<% end %>
