<% if current_user.admin? %>
        <%= link_to "New Appointment" , new_appointment_path %> |
        <%= link_to "Delete this Appointment" ,appointment_path , method: :delete ,data: {confirm: "Are you sure?"} %>
<% end %>

<table class="table table-condensed">
 <tr>
  <td> <b>Tab User :</b> </td>
  <td> <%= @appointment.try(:tab_user_name) %></td>
  </tr>

  <tr>
  <% if @appointment.doctor_name.present? %>
  <td><b> Doctor to Visit: </b></td>
  <td> <%= @appointment.try(:doctor_name) %></td>
  </tr>
  <tr>
  <td><b> Clinic Address: </b></td>
  <td> <%= @appointment.try(:doctor_address) %></td>
  </tr>

  <% end %>

  <tr>
  <% if @appointment.medical_shop.present? %>
	<td>Medical Shop Name:</td>
  <td><%= @appointment.try(:medical_shop_name) %></td>
  </tr>

  <tr>
	<td>Medical Shop Address:</td>
  <td><%= @appointment.try(:medical_shop_address) %></td>
	</tr>
  <% end %>

  <tr>
	<td><b>Status:</b></td>
  <td style="color:green"><%= @appointment.status %></td>
	</tr>

 </table><br>

<% if @appointment.status == 'Pending' %>
<div id="survey_report_form" style = "display:none">
<%= render "survey_report" %>
</div>

<% else %>
  <h4>Clinic Image:</h4> <%= image_tag @appointment.report.photo(:thumb) %><br><br><br>
  <p>Product Shown :<% if  @appointment.report.product_shown == true %> Yes <% else %> NO <% end %></p>
  <p>Sample Given <%= @appointment.report.sample_given %></p>
  <% if @appointment.report.sample_given %>
   <p>Product Copy given to Doctor/ Medical Shop: <%= @appointment.report.product_copy %></p>
  <% end %>
  <p>Does Doctor or shop have the stock of ptoduct already ? <%= @appointment.report.doctor_have_stock %>
  <p> Doctors/medical comment : <%= @appointment.report.doctors_comment %></p>
<% end %>

<br>
<br>
<% unless current_user.admin? %>
 <%= link_to "Start Survey" , "javascript:void(0)" , id: "start_survey_button" , :appointment_id => @appointment %>
<% end %>
