<table>
 <tr>
  <td> <b>Tab User Name:</b> </td>
  <td> <%= @appointment.try(:tab_user_name) %></td>
  </tr>

  <tr>
  <% if @appointment.doctor_name.present? %>
  <td><b> Doctor to Visit: </b></td>
  <td> <%= @appointment.try(:doctor_name) %></td>
  </tr>
  <% end %>

  <tr>
  <% if @appointment.medical_shop.present? %>
  <td> Doctor's Address </td>
  <td><%= @appointment.doctor_address%></td>
  </tr>

  <tr>
	<td>Medical Shop Name:</td>
  <td><%= @appointment.try(:medical_shop_name) %></td>
  </tr>

  <tr>
	<td>Medical Shop Address:</td>
  <td><%= @appointment.try(:medical_shop_address) %></td>
	</tr>
  <% end %>
 </table><hr>

<% unless current_user.admin? %>
 <%= render "survey_report" %>
<% end %>

<% if current_user.admin? %>
<%= link_to "New Appointment" , new_appointment_path %>
<%= link_to "Delete this Appointment" ,appointment_path , method: :delete ,data: {confirm: "Are you sure?"} %>
<% end %>
